@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rajdhani:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

.gradient-green {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0 20rem 0;
    background: linear-gradient(#5F7161, #6D8B74);
}

body {
    background-color: #1e1e1e;
}

.suporte {
    /* border: 0.1rem solid red; */
    /*width: 51%;*/
    font-family: League Spartan;
    font-size: 20rem;
}

div.suporte {
    color: #1e1e1e;
    margin: 20rem 0 0 5.2rem;
}

.text {
    color: #1e1e1e;
    /* border: 0.1rem solid red; */
    width: 50%;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    font-family: League Spartan;
    font-size: 3rem;
}

div.text {
    margin: 2rem 0 0 5.2rem;
}

.tablenav {
    background-color: black;
    border-radius: 15px;
    border-color: black;
    margin-left: 400px;
    margin-bottom: 10rem;
    
    
    font-size: 1.25em;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
    
}

thead>tr {
    background-color: #5F7161;
    text-align: center;
    height: 12.25rem;
    
    
}

th {
    color: #D9D9D0;
    font-family: League Spartan;
}

td {
    width: 12.25rem;
    color: #D9D9D0;
    font-family: League Spartan;
}

tbody>tr {
    background-color: #6D8B74;
    text-align: center;
    border-radius: 50%;
    height: 12.25rem;
   
}

tr:nth-child(2n+1) {
    background-color: #5F7161;

}

.primeira {
    float: right;
    /*margin-right: 300px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #D9D9D0;
    margin-bottom: 50px;
    line-height: 2.5rem;
}

.segundo {
    /*margin-left: 300px;*/
    margin-top: .5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #D9D9D0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.conteudo {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*justify-content: space-around;*/
}

.texto {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;

}

/* .buttonref {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #6D8B74;
    color: white;
    font-family: League Spartan;
    width: 25rem;
    font-size: 2rem;
    font-weight: 600;
} */

.buttonref {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #6D8B74;
    border-width: 0;
    border-radius: 0.8rem;
}
   

.buttonref:hover {
    background-color: #5F7161;
}

.buttonref:active {
    background-color: black;
}

.linkletra {
    text-decoration: none;
    color: #D9D9D0;
}

.linkletra:visited {
    color: #D9D9D0;
}

.linkletra:active {
    color: black;
}
