@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rajdhani:wght@300&display=swap');

.gradient-green {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0 20rem 0;
    background: linear-gradient(#5F7161, #6D8B74);
}

body {
    background-color: #1e1e1e;
}

.support-div {
    font-family: League Spartan;
    font-size: 20rem;
}

div.support-div {
    color: #1e1e1e;
    margin: 20rem 0 0 5.2rem;
}

.text {
    color: #1e1e1e;
    width: 50%;
    text-align: left;
    font-size: 2rem;
    font-family: League Spartan;
    font-size: 3rem;
}

div.text {
    margin: 2rem 0 0 5.2rem;
}

.tablenav {
    background-color: black;
    border-radius: 0.9rem;
    border-color: black;
    margin-left: 25rem;
    margin-bottom: 10rem;
    
    
    font-size: 1.25em;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
    
}

thead>tr {
    background-color: #5F7161;
    text-align: center;
    height: 12.25rem;
    
    
}

th {
    color: #D9D9D0;
    font-family: League Spartan;
}

td {
    width: 12.25rem;
    color: #D9D9D0;
    font-family: League Spartan;
}

tbody>tr {
    background-color: #6D8B74;
    text-align: center;
    border-radius: 50%;
    height: 12.25rem;
   
}

tr:nth-child(2n+1) {
    background-color: #5F7161;

}

.first {
    float: right;
    font-size: 2rem;
    color: #D9D9D0;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

.second {
    font-size: 2rem;
    margin-top: .5rem;
    color: #D9D9D0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.content-text {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-one {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;

}

.buttonref {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #6D8B74;
    border-width: 0;
    border-radius: 0.8rem;
    margin: 3rem 12rem 0 0;
}
   

.buttonref:hover {
    background-color: #5F7161;
}

.buttonref:active {
    background-color: black;
}

.link-word {
    text-decoration: none;
    color: #D9D9D0;
}

.link-word:visited {
    color: #D9D9D0;
}

.link-word:active {
    color: black;
}

:target {
    padding-top: 10rem;
    margin-top: -10rem;
}
