@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');

::-webkit-scrollbar {
    width: 1rem;
    background-color: #5F7161;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #1e1e1e;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

header {
    width: 100%;
    position: fixed;
    padding: 2rem 0 2rem 5rem;
    background-color: #5F7161;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}  

.tce-logo-link{
    clip: rect(0px, 100px, 100px, 0px);
}

header ul {
    display: flex;
    justify-content: space-between;
} 

header ul li {
    list-style: none;
    margin-top: 0.6rem;
    margin-right: 6rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
} 

header ul li a {
    color: #1e1e1e;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 9rem;
}

body {
    font-size: 1.6rem;
    background-color: #d0c9c0;
}

.acess-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #1e1e1e;
    border-width: 0;
    border-radius: 0.8rem;
}

.select-none {
    user-select: none;
}

.btn-link-decoration {
    text-decoration: none;
    color: #EEE9DA; 
}

.desc-TCE {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tce-logo-footer {
    width: 20%;
    margin: 0 auto;
}

.h3-footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    
}

.h3-footer:hover {
    text-decoration: underline;
}

