@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

header {
    width: 99%;
    position: fixed;
    padding: 2rem 0 2rem 2rem;
    background-color: #5F7161;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}  

header ul {
    display: flex;
    justify-content: space-between;
} 

header ul li {
    list-style: none;
    margin-top: 0.6rem;
    margin-right: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
} 

header ul li a {
    color: #1e1e1e;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

/* .up-right-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    color: black;
    text-decoration: none;
}  */



body {
    font-size: 1.6rem;
    background-color: #d0c9c0;
}

.gradient-green {
    position: relative;
    width: 100%;
    padding: 20rem 0 77rem 0;
    background: linear-gradient(#5F7161, #6D8B74);
}

.acess-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 4rem;
    /* position: relative; */
    /* top: 140px;
    left: 20px;
    width: 220px;
    height: 50px; */
    background-color: #1e1e1e;
    border-radius: 6px;
    /* z-index: 9998; */
}

.select-none {
    user-select: none;
}

.btn-link-decoration {
    text-decoration: none;
    color: white; 
}


/* .tce-logo-up {
    /* padding-left: 10px;
    bottom: 19.5px; 
} 




.gradient-black {
    background: linear-gradient(#1e1e1e, #6D8B74);
    /* position: relative; 
    bottom: 17.5rem;
    right: 0.5rem;
    padding: 1.25rem;
    height: 68.75rem;
}

footer {
    background-color: #1e1e1e;
    padding: 1.875rem;
    display: flex;
    justify-content: center;
}



 
::-webkit-scrollbar {
    width: 0.625rem; /* Largura da barra de rolagem 
    background-color: #f5f5f5; /* Cor de fundo da barra de rolagem 
  }
  
  /* Estilizando o "polegar" da barra de rolagem 
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do "polegar" da barra de rolagem 
  }
  
  /* Mudando a cor da barra de rolagem quando o mouse passa por cima 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do "polegar" da barra de rolagem quando o mouse passa por cima 
  }
  





/* .acess-btn:hover {
    letter-spacing: 1.5px;
    background-color: #5F7161;
    color: #1e1e1e;
} 


