.gradient-green {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0 34rem 0;
    background: linear-gradient(#5F7161, #6D8B74);
}


.gg-child-1 {
    border: 0.1rem solid red;
    width: 51%;
}

.gg-child-2 {
    border: 0.1rem solid red;
    width: 30%;
    text-align:left;
}

.gg-child-3 {
    border: 0.1rem solid red;
}

.black-bar-1 {
    background-color: #1e1e1e;
    width: 100%;
    height: 12rem;
    position: relative;

}

/* #html-logo {
    width: 40rem;

     position: relative; 
     left: 23%; 
     bottom: 23rem; 
}

#css-logo {
    margin: 0 0 0 0;
    width: 25rem;
} */

.gradient-black {
    background: linear-gradient(#1e1e1e, #6D8B74);
    padding: 1.25rem;
    height: 120rem;
}





#html-align {
    position: absolute;
    left: 43rem;
    top: 16rem;
    text-align: center;
    display: inline-block;
    width: 21%;
}

#css-align {
    position: absolute;
    display: inline-block;
    width: 19%;
    text-align: center;
    left: 111.6rem;
    top: 16rem;
}

#btn-html-align {
    margin-top: 60rem;
    margin-left: 52.7rem;
}

#btn-css-align {
    position: relative;
    left: 120rem;
    bottom: 6.2rem;
}

#black-bar-2 {
    background-color: #1e1e1e;
    width: 100%;
    height: 100rem;
}

#btn-about {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 4rem;
    border-radius: 0.8rem;
    background-color: #5F7176;
}

.desc-tools {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    background-color: #d0c9c0;
    border-radius: 1rem;
    padding: 3rem;
    /* padding: 2rem 4rem 6rem 4rem; */
}

#div-align {
    width: 25%;
}