.gradient-green {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0 34rem 0;
    background: linear-gradient(#5F7161, #6D8B74);
}


.gg-child-1 {
    /* border: 0.1rem solid red; */
    width: 51%;
}

div.gg-child-1 {
    color: #1e1e1e; 
    margin: 20rem 0 0 5.2rem;
}

.gg-child-2 {
    /* border: 0.1rem solid red; */
    width: 30%;
    text-align:left;
}

div.gg-child-2 {
    margin: 2rem 0 0 5.2rem;
}

.gg-child-3 {
    margin: 2rem 0 0 5.2rem;
    
}

.black-bar-1 {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    width: 100%;
    height: 12rem;
    /* position: relative; */

}

.bb1-child-1 {
    /* border: 0.1rem solid red; */
    margin: 0 0 0 38rem;


}

.bb1-child-2 {
    /* border: 0.1rem solid red; */
    margin: 0 0 0 40rem;


}

#html-logo {
    width: 40rem; 
    transform: translate(0, -9rem);
}

#css-logo {
    width: 25rem;
    transform: translate(0, -6.3rem);
}

.desc-html-css {
    display: flex;
    flex-direction: row;
    height: 74rem;
}

.dhc-child-1 {
    width: 20%;
    /* height: 60%; */
    text-align: center;
    /* border: 0.1rem solid red; */
    margin: 18rem 0 0 39rem;

}

.dhc-child-2 {
    width: 19%;
    /* height: 50%; */
    text-align: center;
    /* border: 0.1rem solid red; */
    margin: 18rem 0 0 35rem;

}

#btn-html-align {
    margin: 5rem 0 0 0;
} 

#btn-css-align {
    margin: 5rem 0 0 0;
} 

#black-bar-2 {
    background-color: #1e1e1e;
    width: 100%;
    height: 100rem;
    display: flex;
}

.bb2-child-1 {
    width: 50%;
    height: 100%;
    /* border: 0.1rem solid red; */
}

.bb2-child-1-1 {
    /* border: 0.1rem solid red; */
    width: 80%;

}

div.bb2-child-1-1 h2 {
    color: #d0c9c0;
    padding: 13rem 0 0 5.5rem;
}

div.bb2-child-1-1 p {
    color: #d0c9c0;
    margin: 5rem 0 0 5.2rem;
}

div.bb2-child-1-1 button {
    margin: 5rem 0 0 5.2rem;
}

#btn-about {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #1e1e1e;
    border-width: 0;
    border-radius: 0.8rem;
    background-color: #5F7176;
}

.bb2-child-2 {
    width: 50%;
    height: 100%;
    /* border: 0.1rem solid blue; */
}


/*HTML DE FOTOS AQ*/





.gradient-black {
    display: flex;
    flex-direction: column;
    /* border: 0.1rem solid red; */
    background: linear-gradient(#1e1e1e, #6D8B74);
    /* padding: 1.25rem; */
    height: 120rem;
}

.gb-child-1 {
    /* border: 0.1rem solid red; */

}

div.gb-child-1 h2 {
    color: #d0c9c0;
    text-align: center;
}



.gb-child-1-2 {
    /* border: 0.1rem solid red; */
}

.gb-img-figma img {
    width: 5%;
    transform: translate(41.5rem, 15rem);
}

.desc-tools {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    background-color: #d0c9c0;
    border-radius: 1rem;
    padding: 3rem;
    /* padding: 2rem 4rem 6rem 4rem; */
}

div.desc-tools {
    width: 50%; 
    margin: 8rem 0 0 45rem;
    text-align: center;
}

.gb-btn-acess-1 {
    transform: translate(117rem, -3rem);

}

.gb-child-2 {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.gb-child-2-2 {
    width: 100%;
    /* width: 70%; */
    /* border: 0.1rem solid red; */
}

/* .gb-img-vscode {
    margin: 0 0 0 20rem;

} */

.gb-child-2-2 img {
    transform: translate(64rem, -4rem);
    /* border: 0.1rem solid blue; */
    width: 10%;
}

.desc-tools-2 {
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    background-color: #d0c9c0;
    border-radius: 1rem;
    padding: 3rem;
    
}

div.gb-child-2-2 .desc-tools-2 {
    text-align: center;
    /* border: 0.1rem solid blue; */
    margin-left: 47.3%;
    height: 46rem;
}

div.desc-tools-2 button {
    margin: 3rem 0 0 0;

}

/* .gb-child-2-3 {
    border: 0.1rem solid yellow;
    width: 5%;
} */

/* .gb-child-2 p {
    text-align: center;
    width: 45%;
} */






/* #html-align {
    position: absolute;
    left: 43rem;
    top: 16rem;
    text-align: center;
    display: inline-block;
    width: 21%;
}

#css-align {
    position: absolute;
    display: inline-block;
    width: 19%;
    text-align: center;
    left: 111.6rem;
    top: 16rem;
} */









#div-align {
    width: 25%;
}