a{
    color:white;
}
button a {
    font-family: 'Open Sans', sans-serif;
    font-size:2rem;
}
#links{
    color:white;
}

.gradient-green-references{
    padding:10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(#5F7161, #6D8B74);
}
.title-ref {
    font-family: "League Spartan";
    font-size: 17rem;
    color:#1e1e1e;
}
.subtitle-ref {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color:#1e1e1e;
}
.content {
    background-color: #1e1e1e;
}
.link-initials {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;

}
.text-ref {
    font-family: 'Open Sans', sans-serif;
    font-size:2rem;
    color:white;
    max-width: 20%;
    margin:5%;
    float:left;
}

.buttonref {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #6D8B74;
    border-width: 0;
    border-radius: 0.8rem;
    margin: 1rem 12rem 0 0;
}
   

.buttonref:hover {
    background-color: #5F7161;
}

.buttonref:active {
    background-color: black;
}
.table-ref{
    width: 65%;
    vertical-align: top;
    border-collapse: collapse;
}
td {
    padding: 20px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

tr:nth-child(even) {
    background-color: #6D8B74;
}

tr:nth-child(odd) {
    background-color: #5F7161;
}

td:first-child {
    border-right: 2px dashed #000000;
}

:target {
    padding-top: 10rem;
    margin-top: -10rem;
}
