.tag-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 0 7rem 0;
    background: linear-gradient(#5F7161, #6D8B74);   
}

.tag-title {
    color: #1e1e1e;
    font-family: 'League Spartan', sans-serif;
    font-size: 25rem;
    margin: 10rem 0 0 7rem;
}

.buttons {
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tags-buttons {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    padding: 1.5rem 7rem;
    background-color: #D9D9D9;
    border-width: 0;
    border-radius: 0.8rem;
}

.tags-buttons:hover {
  background-color: #aca7a7;
}

.btn-link-tags-decoration {
    text-decoration: none;
    color: #1e1e1e; 
}

.btn-link-tags-decoration:active {
  color: #D9D9D9;
}

.tag-definition {
    background-color: #1e1e1e;
    padding-bottom: 4rem;
}

.definition-title {
    font-family: 'League Spartan', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #D9D9D9;
    padding-top: 10rem;

}

.definition-content {
    width: 50%;
    display: flex;
    margin: 5rem auto;
    background-color: #D9D9D9;

}

.definition-align {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    width: 100%;
    padding: 3rem;
    text-align: center;
}

.exemple-definition {
    background-color: #5F7161;
    height: 50rem;
}

.exemple-title {
    background-color: #5F7161;
    font-family: 'League Spartan', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #D9D9D9;
    padding: 2rem 0 3rem 0;
}

.exemple-background {
    background-color: #5F7161;
    height: 40rem;
}

.exemple-code {
    overflow: scroll;
    width: 35%;
    max-height: 40rem;
    display: flex;
    margin: 0 auto;
    background-color: #D9D9D9;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #5F7161;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #1e1e1e;
  }

  .default-attributes {
    padding-bottom: 4rem;
    background-color: #1e1e1e;
  }

  table {
    width: 40%;
    margin:5% auto;
    margin-bottom:0%;
    border-collapse: collapse;
    border:1px solid #5F7161;

  }

  tr {
    background-color: #D9D9D9;

  }
  
  th, td {
    padding: 0.8rem;
    border-bottom: 0.1rem solid #6D8B74;
    font-family: 'Open Sans', sans-serif;
  }
  
  th {
    background-color: #5F7161;
    color: #D9D9D9;

  }
  
  th:first-child{
    min-width: 20%;
  }
  
  th:nth-child(2){
    min-width: 40%;
  }
  
  th:nth-child(3){
    min-width: 45%;
  }
  
  td:not(:last-child) {
    border-right: 0.1rem solid #6D8B74;
  }
  td{
    display: table-cell;
    text-align: left;
    vertical-align: top;
  }
 